{% include 'base.html.twig' %}
{% include 'header.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="float-left shadow-sm p-3 mb-5 bg-white rounded border border-dark statut_page">
            <h3>Nos véhicules</h3>
        </div>
    </div>

    <fieldset>
        {% for element in vehicule %}
            <h1>{{ element.marque }}</h1>
            <h3>{{ element.modele }}</h3>
            <p><i>Couleur </i>{{ element.couleur }}</p>
        {% endfor %}
    </fieldset>

    <style>
        .statut_page {margin:2% 2% 2%; background:lightgrey;padding:10px 100px; width:600px;}
        fieldset { border:3px solid #4949ff; display:inline-block; width:30%; margin:10% auto;}
    </style>
{% endblock %}