<!DOCTYPE html>
<html>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Lib 2 Move {% endblock %}</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    {% endblock %}

    {% block body %} {% endblock %}
    {% block javascripts %}{% endblock %}
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
<<<<<<< HEAD
=======
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
>>>>>>> refs/remotes/origin/master
       
    

{% if is_granted('ROLE_ADMIN') %}
    <p>Username: {{ app.user.username }}</p>
{% elseif is_granted('ROLE_USER') %}
    <p>Username: {{ app.user.username }}</p>
    <p>point: {{ app.user.pointFidelite }}</p>
{% else %}
    Anonymous
{% endif %}

    </body>
</html>
