<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
       
    

{% if is_granted('ROLE_ADMIN') %}
    <p>Username: {{ app.user.username }}</p>
{% elseif is_granted('ROLE_USER') %}
    <p>Username: {{ app.user.username }}</p>
    <p>point: {{ app.user.pointFidelite }}</p>
{% else %}
    Anonymous
{% endif %}

    </body>
</html>
