<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="font-family:'Century Gothic'">Lib 2 Move</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/listeVehicule">Nos Véhicules</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
        </li>
        </ul>
        <a style="margin:0 32% 0 3%;" class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="bottom" title="Prenom Nom">
            {% if is_granted('ROLE_ADMIN') %}
                {{ app.user.username }}
            {% elseif is_granted('ROLE_USER') %}
                {{ app.user.username }}
            {% endif %}
        </a>
        <button style="margin:0 1%;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="-20 % sur la prochaine location ! A partir de 20 Libcoins">
            LibCoins <span class="badge badge-light">
            {% if is_granted('ROLE_USER') %} 
                {{ app.user.pointFidelite }}
            {% endif %}
            </span>
        </button>   
        <a href="/login" class="btn btn--pill badge-danger">Se déconnecter</a>
    </div>  
</nav>