<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/" style="font-family:'Century Gothic'">Lib<span class="text-primary">2</span>Move</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listeVehicule">Nos Véhicules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Mes Commandes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/AdminVehicule">Liste Vehicule</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ListeClient">Liste Client</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
        {% endif %}

        <a style="margin:1% 30% 0 20% !important;background-color:green" class="badge badge-pill badge-success" data-toggle="tooltip" data-placement="bottom">
            {% if is_granted('ROLE_ADMIN') %}
                {{ app.user.username }}
            {% elseif is_granted('ROLE_USER') %}
                {{ app.user.username }}
            {% endif %}
        </a>

        <a style="margin:2% 3% 0% 0 !important;" class="text-white">
            Bonjour 
            {% if is_granted('ROLE_USER') %} 
                {{ app.user.Prenom }}
            {% endif %} !
        </a>
        <button style="margin:0.5% 1% 0 0;" type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Mes points de fidélité">
            LibCoins <span class="badge badge-light">
            {% if is_granted('ROLE_USER') %} 
                {{ app.user.pointFidelite }}
            {% endif %}
            </span>
        </button>   
        <a href="/login" class="btn btn--pill badge-danger" style="margin:0.5% 1% 0 0;">Se déconnecter</a>
    </div>  
</nav>