{% extends 'base.html.twig' %}

{% block title %}Compte créé{% endblock %}

{% block body %}
    
    <h1 align="center" style="font-family:'Chalkduster, fantasy'"><span class="badge badge-info" >Lib 2 Move</span></h1>

    <h2>Félicitation ! Toute l'équipe Lib2Move vous souhaite la bienvenue sur notre site !</h2>  

     <a href="\login" class="btn btn-primary" type="button">aller vers connexion</a>
    
    <style>
        h1 { margin-top:3%; text-align:center;}
        h2 { margin-top:3%; text-align:center;}
        a { text-transform: uppercase; margin:8% 45%; left:25%;}
    </style>
    
{% endblock %}
